* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

main {
    display: flex;
    justify-content: center;
    height: 1000px;
    display: grid;
    grid-template-rows: 80px 40px 200px 40px;
    grid-template-columns: 200px 150px;
    gap: 10px;
}

.head {
    grid-area: 1 / 1 / 2 / 3; 
    /* linha que inicia / coluna que inicia / linha que termina / coluna que termina */
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu {
    grid-area: 2 / 1 / 3 / -1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main {
    grid-area:  3 / 1 / 4 / 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.secondary {
    grid-area: 3 / -2 / -2 / -1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.final {
    grid-area: -2 / 1 / -1 / -1;
    display: flex;
    justify-content: center;
    align-items: center;
}